.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.board-container {
  margin-top: 50px;
  margin-left: 150px;
}

.board {
  float: left;
}

.board-square {
  width: 50px;
  height: 50px;
  float: left;
  padding: 0px;
  margin: 0px;
}

.board-square.light {
  background-color: #fff;
}

.board-square.dark {
  background-color: #eee; 
}

.board-square.moves:hover {
  background-color: #696;
}

.graveyard {
  border: 1px dashed #333;
}

.graveyard.team1 {
  width: 120px;
  height: 400px;
  background: #fff;
  float:left;
}

.graveyard.team2 {
  width: 120px;
  height: 400px;
  background: #fff;
  float: left;
}
